<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
	xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall"
	xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Package Name="ANT gRPC Service" Manufacturer="Small Earth Technology" Version="2.0.1.0" UpgradeCode="8ddabed2-98f7-40ea-ae02-f623979fccac" Compressed="true">
		<MediaTemplate EmbedCab="yes"/>
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		
		<Component Id="appsettingsComponent" Guid="{903035D1-B527-4CD1-9084-449C9FDD179A}">
			<File Id="appsettings" Source="$(var.AntGrpcService.TargetDir)publish\appsettings.json" />
		</Component>
		
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="FirewallScope" Guid="{63B9DA19-1F7E-42F1-BEDE-8B8FDFE24EE8}">
				<fire:FirewallException Id="FE_AntGrpcService1"
										Description="Allow ANT gRPC Service thru firewall."
										Name="ANT gRPC Service"
										File="AntGrpcService"/>
			</Component>
	
			<Component Id="ServiceExecutable">
				<File Id="AntGrpcService" Source="$(var.AntGrpcService.TargetDir)publish\AntGrpcService.exe" />

				<ServiceInstall Id="ServiceInstaller"
							  Type="ownProcess"
							  Name="ANT gRPC Service"
							  DisplayName="ANT gRPC Service"
							  Description="ANT gRPC service"
							  Start="auto"
							  ErrorControl="normal" Arguments="--urls http://*:[PORTNUMBER]">

					<ServiceConfig
								DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes"/>
					
					<util:ServiceConfig
								FirstFailureActionType="restart" RestartServiceDelayInSeconds="60"
								SecondFailureActionType="none"
								ThirdFailureActionType="none"/>
				</ServiceInstall>

				<ServiceControl Id="StartService"
							  Start="install"
							  Stop="both"
							  Remove="uninstall"
							  Name="ANT gRPC Service"
							  Wait="true"
								/>
			</Component>
		</DirectoryRef>
		
		<Feature Id="Main">
			<ComponentRef Id="FirewallScope" />
			<ComponentRef Id="ServiceExecutable"/>
			<ComponentRef Id="appsettingsComponent"/>
		</Feature>

		<Property Id="PORTNUMBER" Value="5073"/>
		<ui:WixUI Id="WixUI_NetworkInstallDir" InstallDirectory="INSTALLFOLDER"/>
	</Package>
</Wix>
